:root {
    --primary-color: #db1414;
    --secondary-color: black;
    --tertiary-color: blue;
    --quaternary-color: rgb(255, 7, 7);
    --quinary-color: rgb(9, 255, 0);
    --senary-color: rgb(245, 208, 0);
}

.calculator {
    width: 150px;
    text-align: center;
    color: var(--primary-color);
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: rgb(0, 60, 255);
}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--tertiary-color);
}