<div class="calculator">

    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> 
            <input id="operator1" [(ngModel)]="operator1" type="number" class="form-control operator1" name="operator1" placeholder="0.0">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="operator2" [(ngModel)]="operator2" type="number" class="form-control operator2" name="operator2" placeholder="0.0">
        </div>
    </form>

    <i class="addition-button" (click)="addition()">
        <img 
        src="./assets/images/suma.png"
        width="50" height="50"
        >
    </i> <!-- Suma -->
    <i class="substraction-button" (click)="substraction()">
        <img 
        src="./assets/images/resta.png"
        width="50" height="50"
        >
    </i> <!-- Resta -->
    <i class="div-button" (click)="division()">
        <img 
        src="./assets/images/division.png"
        width="50" height="50"
        >
    </i> <!-- Div -->
    <i class="exp-button" (click)="exp()">
        <img 
        src="./assets/images/exp.png"
        width="50" height="50"
        >
    </i> <!-- exp -->
    <i class="mul-button" (click)="mul()">
        <img 
        src="./assets/images/mul.png"
        width="50" height="50"
        >
    </i> <!-- Mul -->
    <i class="sqr-button" (click)="sqr()">
        <img 
        src="./assets/images/sqr.png"
        width="50" height="50"
        >
    </i> <!-- Sqr -->
    <i class="sqrt-button" (click)="sqrt()">
        <img 
        src="./assets/images/sqrt.png"
        width="50" height="50"
        >
    </i> <!-- Sqrt -->

</div>

<span class="result">{{ result }}</span>